html{

    background-color:#f3f0f0;
    flex-wrap: wrap;
}


.banner {
    background-color: #e3e3e3 ;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom:10px ;
    border-radius: 5px;
    
}
.banner img {
    position: absolute;
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    width: 20%;
}

.banner h1, h3,h4{
    text-align: right;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {

    text-align: center;
    background-color: #f1ecec ;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.menu li{
    
    padding-left: 10px;
    display: inline-block;
    
    margin-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px
    
}

.menu a{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
    
}
.container {
    width: 40%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    color: #444;
    font-size: 18px;
    margin-bottom: 10px;
}
label {
    display: block;
    margin: 8px 0;
}
input[type="checkbox"] {
    margin-right: 10px;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #07488a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.submit-btn:hover {
    background-color: #053361;
}

.notificaciones {
    position: fixed; 
    top: 0;
    right: -400px; /* Fuera de la pantalla al inicio */
    width: 300px;
    height: 100%; /* Ocupará toda la altura de la pantalla */
    background-color: #e6e6e6;
    
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000; 
}
.notificaciones h3 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.notificacion {
    background-color: #444;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.notificacion-importante {
    background-color: #07488a;
    color: white;
}
.notificacion-normal {
    background-color: white;
    
}
.notificacion-alerta {
    background-color: #f44336;
    color: white;
}
.open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.close-btn:hover {
    color: #07488a; /* Cambiar color al pasar el mouse */
}

footer{
    color: white;
    background-color: #07488a;
    text-align: center;
    width: 100%;
    margin-top: 6%;
    border-radius: 5px;
    
}